<form ng-submit="$ctrl.clickGenGraph()">
<div class="nav">
  <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center">
    <div id="input-years" style="display: inline">

      <ul ng-show="$ctrl.editMode.mode=='graph'">

        <li><label for="current-bfw">Current Bankfull Width</label><input name="current-bfw" ng-model="$ctrl.currentBfw" maxlength="4" size="4"></input></li>
        <li><label for="design-lifetime">Design Lifetime</label><input name="design-lifetime" ng-model="$ctrl.designLifetime" maxlength="4" size="4"></input></li>
        <li><label for="size_1">Bankfull Width Design</label><input name="threshold" ng-model="$ctrl.bfwDesign" maxlength="4" size="4"></input></li>

      </ul>


    </div>
    <div id="coord-display" style="z-index: -1; text-align: center"></div>

    <ul class="nav-right-margin-only">
      <li><button type="input"><a ng-click="$ctrl.clickGenGraph()" class="click" href="">Generate Graph</a></button></li>
    </ul>
  </div>

</div>
</form>
